/*-----------variáveis------------*/

:root {
    --Cyan: hsl(179, 62%, 43%);
    --Bright-Yellow: hsl(71, 73%, 54%);    
    --Light-Gray: hsl(204, 43%, 93%);
    --Grayish-Blue: hsl(218, 22%, 67%);
    --Light-Cyan: hsl(179, 79%, 44%);
}

/*---------reset-------------*/

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    font: inherit;
    border: none;
    background: none;
    cursor: pointer;
}

html {
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
}

/*----------------------*/

.container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza o conteúdo */
    padding: 60px 20px;
    background-color: var(--Light-Gray);
    max-width: 1440px;
    margin: auto;
    position: relative;
    overflow: hidden;
    line-height: 25px;
}

.info {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 25px;
    gap: 20px;
}

h1 {
    color: var(--Cyan);
}

.info h3 {
    color: var(--Bright-Yellow);
}

.info p {
    color: var(--Grayish-Blue);
}

.price {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    background-color: var(--Cyan);
    color: white;
    padding: 20px;
}

.value {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.price-value {
    display: flex;
}

.month {
    font-weight: 400;
    color: var(--Light-Gray);
    margin-left: 10px;
}

.sign-btn {
    background-color: var(--Bright-Yellow);
    border-radius: 5px;
    box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.338);
    color: white;
    border: none;
    padding: 10px;
    font-weight: 700;
    margin-top: 10px;
    width: 100%;
    text-align: center; 
    display: inline-block; 
    text-decoration: none; 
}

.reasons {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--Light-Cyan);
    color: white;
    padding: 20px;
    gap: 20px;
}

/*tablet*/
@media (min-width: 768px) {
    /* sem regras específicas para tablets */
}

/*desktop*/
@media (min-width: 1024px) {
    .container {
        padding: 60px;
    }
    
    .sign-btn {
        width: auto;
    }
}
