/*-----------variáveis------------*/

:root {
    --Cyan: hsl(179, 62%, 43%);
    --Bright-Yellow: hsl(71, 73%, 54%);    
    --Light-Gray: hsl(204, 43%, 93%);
    --Grayish-Blue: hsl(218, 22%, 67%);
    --Light-Cyan: hsl(179, 79%, 44%);
}

/*---------reset-------------*/

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    font: inherit;
    border: none;
    background: none;
    cursor: pointer;
}

html {
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
}

/*----------------------*/

.container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza o conteúdo */
    padding: 60px 20px;
    background-color: var(--Light-Gray);
    margin: auto;
    position: relative;
    overflow: hidden;
    line-height: 25px;
    width: 100%;
}

.info {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 25px;
    gap: 20px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    box-shadow: 0px 0px 40px hsla(0, 0%, 3%, 0.111);
}

h1 {
    color: var(--Cyan);
}

.info h3 {
    color: var(--Bright-Yellow);
}

.info p {
    color: var(--Grayish-Blue);
}

.price {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--Cyan);
    color: white;
    padding: 25px;
    box-shadow: 0px 0px 40px hsla(0, 0%, 3%, 0.111);
}

.value {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.price-month {
    display: flex;
    margin-top: 20px;
}

.month {
    font-weight: 400;
    color: var(--Light-Gray);
    margin-left: 10px;
}

.sign-btn {
    background-color: var(--Bright-Yellow);
    border-radius: 5px;
    box-shadow: 0px 10px 5px hsla(0, 0%, 3%, 0.111);
    color: white;
    border: none;
    padding: 10px;
    font-weight: 700;
    width: 100%;
    text-align: center; 
    display: inline-block; 
    text-decoration: none; 
    margin: 20px 0 20px 0;
}


.grid-content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.reasons {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--Light-Cyan);
    color: var(--Light-Gray);
    padding: 25px;
    gap: 20px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: 0px 0px 40px hsla(0, 0%, 3%, 0.111);
}

.reasons h3 {
    color: white;
}

/*desktop*/
@media (min-width: 376px) {
    
    .container {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .info {
        width: 100vh;
    }

    .grid-content {
        display: grid;
        width: 100vh;
        grid-template-columns: 2fr 2fr;
    }
}
